apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc-{{.Values.your_linux_username}}
spec:
  selector:
    matchLabels:
      name: {{.Values.your_linux_username}}
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{.Values.nfs.server.mysql_disk_size}} 
root@palmeto:~/openshift-1620feb-2026/Day5/helm/wordpress/templates# cat mysql-deploy.yml 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-pvc-{{.Values.your_linux_username}}
      containers:
      - name: mysql
        image: image-registry.openshift-image-registry.svc:5000/openshift/mariadb:{{.Values.mysql_image_tag}}
        imagePullPolicy: IfNotPresent

        volumeMounts:
        - name: mysql-storage
          mountPath: /bitnami/mariadb/data

        env:
        - name: MARIADB_ROOT_PASSWORD 
          valueFrom: 
             secretKeyRef:
               name: wordpress-login-credentials
               key: password

        - name: MARIADB_DATABASE
          valueFrom: 
             configMapKeyRef:
               name: wordpress-cm
               key: db_name
